@model IEnumerable<BaiTh.Models.Order>

@{
    
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h1>Orders</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Mã</th>
                    <th>Mã khách hàng</th>
                    <th>Ngày đặt mua</th>
                    <th>Tổng tiền</th>
                    <th>Địa chỉ</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.UserId</td>
                        <td>@item.OrderDate.ToString("yyyy-MM-dd")</td>
                        <td>@item.TotalPrice.ToString("C")</td>
                        <td>@item.ShippingAddress</td>
                        <td>@item.Notes</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>
